/build/
/app/build/
/dep/jni/build/
/.gradle/
/.DS_Store
/app/.DS_Store
/app/libs/.DS_Store
/app/src/main/.DS_Store
/local.properties
/.idea/
/*.iml
/app/*.iml
/app/src/*.DS_Store
/app/src/main/java/*.DS_Store
/app/src/main/java/com/*.DS_Store
/app/src/main/java/com/dodder/*.DS_Store
/app/src/main/java/com/dodder/box/*.DS_Store
/app/src/main/java/com/dodder/box/plugin/*.DS_Store
/app/src/main/java/com/dodder/box/plugin/nolvliab/*.DS_Store
/dep/jni/*.iml